/*----------------------------- General ----------------------------- */
html, body {
    overflow-y: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(140deg, rgba(234, 243, 234, 0.7) 0%, rgba(0, 0, 0, 0.4)); 
    font-family: 'Open Sans', sans-serif;
   
}

html,body:hover {
    border: none;
}

/*-----------------------------Elements----------------------------- */
button {
    font-weight: bold;
    text-decoration: none;
    padding:0;
    background-color: rgba(0, 84, 166, 1);

    border: none;
    cursor: pointer;
    outline: none;
    text-decoration:none;
    border-radius: 10px;
}

button:hover{
    background-color: rgba(27, 58, 88, 1);
    transition-duration: 0.166s;
    transition-delay: 0.1s;
}

button:active{
    background-color: rgba(27, 58, 88, .6);
    border: none;
}

/*-----------------------------Start Screen-----------------------------*/

.title {
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: start;
    justify-items: center;
    margin: auto auto;
}

.logo {
    height: auto;
    width: 40%;
    margin: auto auto;
}

/*-----------------------------Menus-----------------------------*/

/*Containers*/
.login-cart {
    width: 8%;
    height: 100%;
}

.menu {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.menu.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    height:0;
    width: 0;

}

.grid-container {
    display: inline-grid;
    padding: 0px;


    grid-template-areas:
        'pic title cals  cost  '
        'pic types cust  add ';
    width: 100%;
    height: 100%;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color : white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: 100%;
    width: 13%;
}


/*-----------------------------Menu Items-----------------------------*/
.btn-customize {
    font-size: 1rem;
    padding: 0.3rem;
    grid-area: cust;
}

.btn-add {
    font-size: 1rem;
    padding: 0.3rem;
    grid-area: add;
}

.category {
    display: inline-block;
    width: 90%;
    opacity: 0.6;
}

.category img {
    width: 100%;
    height: auto;
}

.category:hover{
    opacity: 1;
}

.items {
    background-color: white;
    width: 100%;
}

.item-even {
    background-color: rgb(210, 210, 210);

    height: 20%;
    width: 100%;
    float: left;
}

.item-odd {
    background-color: rgb(230, 230, 230);
    height: 20%;
    width: 100%;
    float: left;
}



.orderbtn {
    height: auto;
    width: 40%;
    margin: auto auto;

}
.btn-order{
    font-size: 3em;
    width: 100%;
    height: 100%;
}

.cals {
    font-size: 1rem;
    margin: auto auto;
    grid-area: cals;
}

.price {
    font-size: 1rem;
    margin: auto auto;
    grid-area: cost;
}

.item-name {
    font-size: 1.5rem;
    margin: auto auto;
    float: left;
    grid-area: title;
}

.item-top {
    display: flex;
    flex-direction: row;
}

.item-bottom {
    display: flex;
    flex-direction: row;
}

.item-pic {
    grid-area: pic;
    padding:0;
    margin: 0;
    /* min-width: 64px;
    min-height: 64px;
    max-width: 128px;
    max-height: 128px; */
    height: 100%;
    width: auto;
}

/* ----------------------------- Login ---------------------------*/

.login {
    color: rgb(70, 70, 70);
    font-size: 5rem;
    width: 100%;
    opacity: 0.6;
    height: auto;
}

/*------------------------------Customize------------------------*/

/*--- grid items ---*/
.customize-buttons {
    background: rgba(0,0,0,0);
}

.title-item { 
    grid-area: header;
    font-size: 3rem
}
.image-item { grid-area: image;}
.custom-button-item1 { 
    margin-left: auto;
    background-color: yellow;
    grid-area: right1;
}
.custom-button-item2 {
    margin-left: auto;
    grid-area: right2;
}
.custom-button-item3 {
    margin-left: auto;
    grid-area: right3;
}
.custom-button-item4 {
    margin-left: auto;
    grid-area: right4;
}
.custom-button-item5 {
    margin-left: auto;
    grid-area: right5;
}
.custom-button-item6 {
    margin-left: auto;
    grid-area: right6;
}
.back-item { grid-area: back-button;}
.footer-item { grid-area: footer;}
.done-item { grid-area: done-button;}


.customize-grid {
    display: grid;
    grid-template-areas: 'header header header'
                        'image image spacing'
                        'image image right1'
                        'image image right2'
                        'image image right3'
                        'image image right4'
                        'image image right5'
                        'image image right6'
                        'image image spacing2'
                        'back-button spacing3 done-button';
                        padding: 10px;
                        grid-gap: 10px;
                        font-size: 2rem;
}

.customize-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 30px;
    text-align: center;
}

.customize-add-remove {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

/* ----------------------------- Cart ---------------------------*/
.cart {
    margin-top: auto;
    width: 100%;
    height: auto;
    color: rgb(70, 70, 70);
    opacity: 0.6;
    font-size: 5rem;
}

.cart:hover, .login:hover{
    opacity: 1;
}