/*----------------------------- General ----------------------------- */
html, body {
    overflow-y: hidden;
    height: 100%;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-color: rgba(255, 255, 255, 1);
    background-image: linear-gradient(140deg, rgba(234, 243, 234, 0.7) 0%, rgba(0, 0, 0, 0.4)); 
    font-family: 'Open Sans', sans-serif;
}

html,body:hover {
    border: none;
}

/*-----------------------------Elements----------------------------- */
button {
    font-weight: bold;
    text-decoration: none;
    padding:0;
    background-color: rgba(0, 84, 166, 1);
    border: none;
    cursor: pointer;
    outline: none;
    text-decoration:none;
    border-radius: 10px;
}

button:hover{
    background-color: rgba(27, 58, 88, 1);
    transition-duration: 0.166s;
    transition-delay: 0.1s;
    cursor: pointer;
}

button:active{
    background-color: rgba(27, 58, 88, .6);
    border: none;
}

/*-----------------------------Start Screen-----------------------------*/
.icon {
    cursor: pointer;
}

.title {
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: column; 
    justify-content: start;
    justify-items: center;
    margin: auto auto;
}

.logo {
    height: auto;
    width: 40%;
    margin: auto auto;
}

/*-----------------------------Menus-----------------------------*/

/*Containers*/
.login-cart {
    width: 8%;
    height: 100%;
}

.menu {
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: 0;
    margin: 0;
    width: 100%;
    height: 100%;
    background-color: white;
}

.menu-container.hidden {
    visibility: hidden;
    padding: 0;
    margin: 0;
    height:0;
    width: 0;

}

.menu-container {
    display: flex;
    flex-direction: column;
    width:100%;
    height: 100%;
    overflow-y: scroll;
}
.menu-row {
    display: flex;
    width: 100%;
    min-width: 500px;
    min-height: 130px;
    color: white;
}

.row-buttons {
    width:20%;
    height:100%;
    display:flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-top:auto;
    margin-bottom:auto;

}
.row-text {
    width: 70%;
    font-family: 'Open Sans', sans-serif;
    flex-direction: column;
    align-items: center;
}


.food-item {
    width: 150px;
    height: auto;
}

.food-groups {
    display:flex; 
    flex-direction: row;
    margin-top: -15px;
    width: 50px;
    height: auto;
    justify-content: space-between;
}

.food-group-item{
    width: 50%;
}
.calorie {
    margin-top: -5px;
    font-size: medium;
}

.cost {
    text-align: center;
}

.container{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sidebar {
    background-color: silver;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
    height: auto;
    width: 150px;
}


/*-----------------------------Menu Items-----------------------------*/
.btn-customize {
    width: auto;
    height:100%;
    opacity: .7;
}

.btn-add {
    width:auto;
    height:100%;
    opacity:.7;
}

.btn-customize:hover{
    opacity: 1;
}

.btn-add:hover {
    opacity:1;
}

.category {
    display: inline-block;
    width: 150px;
    height: auto;
    opacity: 0.6;
}

.category img {
    width: 100%;
    height: 100%;
}

.category:hover{
    opacity: 1;
}


/* ----------------------------- Login ---------------------------*/

.login {
    color: rgb(70, 70, 70);
    font-size: 5rem;
    width: 100%;
    opacity: 0.6;
    height: auto;
}

/*------------------------------Customize------------------------*/

/*--- grid items ---*/
.customize-buttons {
    background: rgba(0,0,0,0);
}

.title-item { 
    grid-area: header;
    font-size: 3rem
}
.image-item { grid-area: image;}
.custom-button-item1 { 
    margin-left: auto;
    background-color: yellow;
    grid-area: right1;
}
.custom-button-item2 {
    margin-left: auto;
    grid-area: right2;
}
.custom-button-item3 {
    margin-left: auto;
    grid-area: right3;
}
.custom-button-item4 {
    margin-left: auto;
    grid-area: right4;
}
.custom-button-item5 {
    margin-left: auto;
    grid-area: right5;
}
.custom-button-item6 {
    margin-left: auto;
    grid-area: right6;
}
.back-item { grid-area: back-button;}
.footer-item { grid-area: footer;}
.done-item { grid-area: done-button;}


.customize-grid {
    display: grid;
    grid-template-areas: 'header header header'
                        'image image spacing'
                        'image image right1'
                        'image image right2'
                        'image image right3'
                        'image image right4'
                        'image image right5'
                        'image image right6'
                        'image image spacing2'
                        'back-button spacing3 done-button';
                        padding: 10px;
                        grid-gap: 10px;
                        font-size: 2rem;
}

.customize-grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    padding: 1px;
    font-size: 30px;
    text-align: center;
}

.customize-add-remove {
    font-size: 1rem;
    padding: 1rem;
    text-align: center;
}

/* ----------------------------- Cart ---------------------------*/
.cart {
    margin-top: auto;
    width: 100%;
    height: auto;
    color: rgb(70, 70, 70);
    opacity: 0.6;
    font-size: 5rem;
}

.cart:hover, .login:hover{
    opacity: 1;
    cursor: pointer;
}


/* ----------------------------- Login ---------------------------*/

.login-container {
    width: 40%;
    height: 40%;
    visibility: visible;
    margin: auto auto;
    padding:1rem;
}

.login-container.hidden {
    height: 0;
    width: 0;
    visibility: hidden;
    margin: 0;
    padding: 0;
}

/* Full-width input fields */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

  /* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

.login-form-container {
    z-index: 1; /* Sit on top */
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 2%;
  }

  /* The Close Button (x) */
  .close {
    right: 5%;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: red;
    cursor: pointer;
  }
  
  /* Add Zoom Animation */
  .animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
  }